*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(12, 100%, 82%);
}
.container{
    width: auto;
    border-top-left-radius: 20px;
   border-top-right-radius: 20px;
    box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
    padding: 0.5rem;
}
.data{
   height: 4.375rem;
   width: 100%; 
   background-color: hsl(21, 100%, 85%);
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   display: flex;
   flex-direction: column;
  justify-content: center;
 align-items: center;
 position: relative;
   padding: 0 0.625rem;
}
i{
    font-size: 3rem;
    padding: 0 0.625rem;
}
 .fa-angle-left{
    position: absolute;
    left: 0;
}
.fa-angle-right{
    position: absolute;
    right: 0;
}
h3{
    font-size: 2rem;
}
h5{
    font-size: 1.3rem;
}
.Week{
    height: 4.375rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.daysWeek{
    height: 100%;
   font-size: 1.5rem;
      width: 100%;
    height: 4.375rem;
    background-color: hsl(12, 100%, 82%);
 display: flex;
 justify-content: center;
 align-items: center;
}
.grid-days {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr); 
}
.days,.days--przed,.days--po {
  font-size: 1.5rem;
      width: 4.375rem;
    height: 4.375rem;
    background-color: hsl(12, 100%, 82%);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 0.8rem;
}
.days--przed,.days--po{
    color: grey;
}
.active{
    background-color: turquoise;
}
.logo{
    position: absolute;
    bottom: 0;
    left: 0;
}
@media (max-width:500px){
    .days,.days--przed,.days--po {
        font-size: 1rem;
            width: 3rem;
          height: 3rem;
       
      }
      .daysWeek{
       font-size: 1rem;
    }
    .active{
        background-color: turquoise;
    }
}
@media (max-width:400px){
    .days,.days--przed,.days--po {
        font-size: 1rem;
            width: 2.5rem;
          height: 2.5rem;
         
      }
      .daysWeek{
         font-size: 1rem;
         }
    i{
        font-size: 1.5rem;
         }
    h3{
        font-size: 1.5rem;
    }
    h5{
        font-size: 1rem;
    }
    .active{
        background-color: turquoise;
    }
}